@import "common.css";

/* || Container general styles */

.container {
  display: flex;
  width: 60%;
  background-color: rgba(244, 244, 244, 0.75);
  border: 3px solid rgba(244, 244, 244, 0.75);
  border-radius: 10px;
}

/* || Left and right container general styles */

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

/* || Left container styles */

.left-container {
  float: left;
  width: 30%;
  border-right: 3px solid #dcdad7;
}

/* || Left container account logo styles */

.left-container .account-logo {
  position: relative;
  top: 35%;
  font-size: 200%;
}

/* || Left container account name styles */

#account-name {
  position: relative;
  top: 50%;
}

#account-name p {
  font-weight: bold;
  font-size: 120%;
}

/* || Right container styles */

.right-container {
  float: right;
  width: 100%;
}

/* || Right container header styles */

.right-container h2 {
  position: relative;
  top: 10%;
  font-size: 200%;
  text-decoration: underline;
}

/* || Right container info container styles */

.right-container .info-container {
  position: relative;
  top: 17%;
  width: 50%;
}

/* || Right container info > details container styles */

#account-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15% 0;
  font-size: 125%;
}

#account-details-container .value {
  color: #515151;
}

.right-container .info-container a {
  cursor: pointer;
  transition: 0.25s;
  background-color: #292c2e;
  text-decoration: none;
  color: #dcdad7;
  padding: 0.6rem 0.8rem;

}

.right-container .info-container a:hover {
  background-color: #669202;
}

/* || Your orders styles */

#your-orders {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
}

/* || Your orders banner image styles */

#your-orders .section-wrap .banner-section img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
  padding-bottom: 3%;
}

/* || Order table styles */

#order-table {
  margin-top: 1rem;
  width: 100%;
  border: solid 1px #292c2e;
  border-radius: 5px;
  font-size: 115%;
  color: #6b6b66;
}

/* || Order table header styles */

#order-table thead td {
  background-color: #dcdad7;
  color: #292c2e;
}

/* || Order table child rows styles */

#order-table tr:nth-child(even) {
  background-color: #f5f5f5;
}
#order-table tr:nth-child(odd) {
  background-color: #fff;
}
#order-table tr td {
  padding: 10px;
  text-align: center;
}

/* || Your Order continue shopping container styles */

#your-orders .continue-shopping-section {
  margin-bottom: 5%;
  width: 20%;
}

/* || Your Order continue shopping button styles */

#your-orders .continue-shopping-section a {
  margin-left: 3.6rem;
  color: #fff;
  font-size: 1rem;
  background-color: #292c2e;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  transition: 0.25s;
  text-transform: uppercase;
}

#your-orders .continue-shopping-section a:hover {
  background-color: #669202;
}
