/* || General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* || Background Image styles */

.background {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: 100vh;
  }
}

/* || Hero Container styles */

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* || Hero Navigation styles */

.hero nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* || Hero Logo styles */

.hero nav img {
  width: 120px;
}

/* || Hero Navigation Links styles */

.hero nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.hero nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  text-transform: uppercase;
}

.hero nav ul li a:hover {
  background-color: #669202;
  border: 2px solid #669202;
  border-radius: 50px;
  padding: 10px;
}

/* || Hero Content styles */

.hero .content {
  text-align: center;
  text-transform: uppercase;
}

.hero .content h1 {
  font-size: 65px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.hero .content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.hero .content p {
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.hero .content .shop-now {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #669202;
  padding: 15px 70px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: #669202;
  transition: 0.5s;
}

.hero .content .shop-now:hover {
  background-color: #292c2e;
  border-color: #292c2e;
}

/* || Footer styles */

footer {
  width: 100%;
  background-color: #292c2e;
  color: #fff;
  padding: 0.5% 5%;
}

footer .columns {
  display: flex;
}

/* || Footer Section styles */

footer .columns .social,
footer .columns .contact-us,
footer .columns .quick-links {
  width: 33%;
  margin: 0 20px;
}

/* || Footer Social Media styles */

footer .columns .social img {
  width: 120px;
}

footer .columns .social p {
  color: #8a857d;
}

footer .columns .social .social-medias a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  margin: 4% 2%;
}

/* || Footer Contact us and Quick links styles */

footer .columns .contact-us,
footer .columns .quick-links {
  margin-top: 4%;
}

footer .columns .contact-us ul li,
footer .columns .quick-links ul li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 5% 0;
}

footer .columns .contact-us ul li p,
footer .columns .quick-links ul li a {
  color: #8a857d;
  list-style: none;
  margin-left: 1%;
  text-decoration: none;
  transition: 0.25s;
}

footer .columns .quick-links ul li a:hover {
  color: #669202;
}

/* || Footer copyright styles */

footer .copyright {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 2%;
}

/* || Section general styles */

section {
  width: 100%;
}

.section-wrap {
  width: 100%;
  padding: 2rem 3.6rem;
}

/* || Sub section title styles */

.sub-section-title {
  display: flex;
  padding-bottom: 0.6rem;
  justify-content: space-between;
}

.sub-section-title p {
  margin-left: 0.4rem;
  color: #343236;
  font-size: 1.4rem;
  font-weight: 600;
}

.sub-section-title a {
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
  color: #b76242;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}
