@import "common.css";

.signup-section {
  width: 360px;
  height: 560px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.signup-section h1 {
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid silver;
  padding-bottom: 20px;
}

.signup-section form {
  width: 300px;
  margin-left: 20px;
}

.signup-section form .entry {
  border-bottom: 1px solid gray;
}

.signup-section form .entry label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  color: #669202;
}

.signup-section form .entry input {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

.signup-section form input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #669202;
  color: white;
  font-size: 18px;
  border-radius: 25px;
}
.signup-section p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.signup-section .para-2 {
  text-align: center;
  color: black;
  font-size: 15px;
  margin: -10px 0;
}
.signup-section .para-2 a {
  color: #2691d9;
}
