@import "common.css";

/* || Registration section styles */

.signup-section {
  width: 500px;
  height: 65%;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  font-size: 16px;
}

/* || Registration header styles */

.signup-section h1 {
  color: #0f2027;
  text-align: center;
}

/* || Registration Button styles */
.signup-section #form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: #669202;
  border: none;
  border-radius: 4px;
}

/* || Registration User input styles */

.signup-section #form .input-control {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.signup-section #form .input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
}

.signup-section #form .input-control input:focus {
  outline: 1;
}

/* || Registration User input success styles */

.signup-section #form .input-control.success input {
  border-color: #09c372;
}

/* || Registration User input failure styles */

.signup-section #form .signup-section #form .input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

/* || Login styles */

.signup-section .login-link {
  text-align: center;
  margin-top: 10px;
}
