@import "common.css";

.container {
  display: flex;
}

.left-container {
  float: left;
  width: 30%;
  height: 500px;
}

.right-container {
  float: right;
  width: 70%;
  height: 500px;
}

.left-container,
.right-container {
  display: grid;
  place-items: center;
  border: 3px solid #284f64;
}

.left-container div,
.right-container div {
  margin: 0;
  margin-bottom: 2px;
  line-height: 1;
}

.info-container {
  position: relative;
  top: -100px;
}

#User_name {
  position: relative;
  top: -100px;
}

#event_table {
  width: 100%;
  text-align: center;
}

#event_table tr:nth-child(even) {
  background-color: #e6e6e6;
}
#event_table tr:nth-child(odd) {
  background-color: #ffcc99;
}
#event_table td {
  padding: 10px;
  text-align: center;
}
#event_table th {
  padding: 10px;
  background-color: #c2b3a4;
}
