@import "common.css";

/* .container {
  display: flex;
}

.left-container {
  float: left;
  width: 30%;
  height: 500px;
}

.right-container {
  float: right;
  width: 70%;
  height: 500px;
}

.left-container,
.right-container {
  display: grid;
  place-items: center;
  border: 3px solid #284f64;
}

.left-container div,
.right-container div {
  margin: 0;
  margin-bottom: 2px;
  line-height: 1;
}

.info-container {
  position: relative;
  top: -100px;
}

#User_name {
  position: relative;
  top: -100px;
} */

#order-table {
  margin-top: 1rem;
  width: 100%;
  border: solid 1px #292c2e;
  border-radius: 5px;
  font-size: 115%;
  color: #6b6b66;
}

#order-table thead td {
  background-color: #dcdad7;
  color: #292c2e;
}

#order-table tr:nth-child(even) {
  background-color: #f5f5f5;
}
#order-table tr:nth-child(odd) {
  background-color: #fff;
}
#order-table tr td {
  padding: 10px;
  text-align: center;
}

#account-orders .continue-shopping-section {
  margin-bottom: 5%;
  width: 20%;
}

#account-orders .continue-shopping-section p {
  margin-left: 3.6rem;
  color: #fff;
  font-size: 1rem;
  background-color: #292c2e;
  text-decoration: none;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  transition: 0.25s;
  text-transform: uppercase;
}
