* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.background {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background {
    width: 100%;
    height: 100vh;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero nav img {
  width: 120px;
}

.hero nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.hero nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 12px;
}

.hero nav ul li a:hover {
  background-color: #669202;
  border: 2px solid #669202;
  border-radius: 50px;
  padding: 10px;
}

.hero .content {
  text-align: center;
  text-transform: uppercase;
}

.hero .content h1 {
  font-size: 65px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.hero .content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.hero .content p {
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.hero .content .shop-now {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #669202;
  padding: 15px 70px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: #669202;
  transition: 0.5s;
}

.hero .content .shop-now:hover {
  background-color: #292c2e;
  border-color: #292c2e;
}

footer {
  width: 100%;
  background-color: #292c2e;
  color: #fff;
  padding: 0.5% 5%;
}

footer .columns {
  display: flex;
}

footer .columns .social,
footer .columns .contact-us,
footer .columns .quick-links {
  width: 33%;
  margin: 0 20px;
}

footer .columns .social img {
  width: 120px;
}

footer .columns .social p {
  color: #8a857d;
}

footer .columns .social .social-medias a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  margin: 4% 2%;
}

footer .columns .contact-us,
footer .columns .quick-links {
  margin-top: 4%;
}

footer .columns .contact-us ul li,
footer .columns .quick-links ul li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 5% 0;
}

footer .columns .contact-us ul li p,
footer .columns .quick-links ul li a {
  color: #8a857d;
  list-style: none;
  margin-left: 1%;
  text-decoration: none;
  transition: 0.25s;
}

footer .columns .quick-links ul li a:hover {
  color: #669202;
}

footer .copyright {
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 2%;
}

section {
  width: 100%;
}

.section-wrap {
  width: 100%;
  padding: 2rem 3.6rem;
}

.sub-section-title {
  display: flex;
  padding-bottom: 0.6rem;
  justify-content: space-between;
}

.sub-section-title p {
  margin-left: 0.4rem;
  color: #343236;
  font-size: 1.4rem;
  font-weight: 600;
}

.sub-section-title a {
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
  color: #b76242;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

#recommendation .section-wrap .products {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#recommendation .section-wrap .products .fruit {
  margin: 0.4rem;
  position: relative;
  flex-basis: 330px;
  flex-grow: 1;
  height: 240px;
  border-radius: 0.1rem;
}

#recommendation .section-wrap .products .fruit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

#recommendation .section-wrap .products .fruit .text {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  text-shadow: 0 0 0.9rem #444;
}

#recommendation .section-wrap .products .fruit .text h2,
#recommendation .section-wrap .products .fruit .text p {
  font-size: 1.8rem;
}

#recommendation .section-wrap .products .fruit .text span {
  font-size: 2.8rem;
}

#catalogue {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
}

#catalogue .banner-section img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
  padding-bottom: 3%;
}

/* #catalogue .banner-section .shop-now {
  position: absolute;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 13 px;
  border: 2px solid #669202;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #669202;
  transition: 0.5s;
  top: 300px;
  left: 13%;
} */

#catalogue .section-wrap .search-sorting-bar {
  width: 100%;
  height: 55px;
  border: solid 1px #292c2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

#search-section {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-section #search-input {
  padding: 2%;
  width: 92%;
}

#search-section a {
  color: #343434;
  text-decoration: none;
  font-size: 20px;
}

#sort-section {
  width: 15%;
}

#sort-section label {
  color: #343236;
}

#sort-section select {
  padding: 2% 4%;
  color: #343434;
  background-color: transparent;
  border: solid 1px #292c2e;
}

#catalogue .section-wrap .featured-products {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: start;
}

#catalogue .section-wrap .featured-products .product-wrap {
  margin: 0 0.7rem 2rem 0.6rem;
  position: relative;
  height: 360px;
  width: 260px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  box-shadow: 0.6rem 0.6rem 1rem #ddd;
}

#catalogue .section-wrap .featured-products .product-wrap .product-img {
  position: relative;
  width: 100%;
  height: 55%;
  border: 2px solid #fff;
  border-radius: 0.2rem 0.2rem 0.8rem 0.8rem;
}

#catalogue .section-wrap .featured-products .product-wrap .product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#catalogue .section-wrap .featured-products .product-wrap .product-description {
  margin-top: 0.4rem;
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}

#catalogue
  .section-wrap
  .featured-products
  .product-wrap
  .product-description
  .product-name {
  color: #343236;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

#catalogue
  .section-wrap
  .featured-products
  .product-wrap
  .product-description
  .product-price {
  font-size: 1.2rem;
  margin-top: 0.6rem;
  text-align: center;
  font-weight: 500;
}

#catalogue
  .section-wrap
  .featured-products
  .product-wrap
  .product-description
  .add-to-cart-btn {
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#catalogue
  .section-wrap
  .featured-products
  .product-wrap
  .product-description
  .add-to-cart-btn
  p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background-color: #669202;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    border-radius: 50px;
}
